{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-90">
  <div class="p-5 m-3 border bg-white w-50">
    <form method="post">
      <h1 class="h3 mb-3 fw-normal">{% if request.path == url_for('transactions.edit', tran_id=tran.id) %} Edit {% else %} Enter {% endif %} Transaction</h1>
      <div class="form-floating">
        <input type="date" class="form-control" name="date" id="date" value="{{ tran.tran_date }}" placeholder="date" required>
        <label for="date" class="form-label">Tranaction Date</label>
      </div>
      <div class="p-3"></div>
      <div class="form-floating">
        <input name="symbol" class="form-control" id="symbol" value="{{ tran.symbol }}" placeholder="symbol" required>
        <label for="symbol" class="form-label">Symbol</label>
      </div>
      <div class="p-3"></div>
      <div class="form-floating">
        <input type="number" class="form-control" step="0.001" name="quantity" id="quantity" value="{{ tran.quantity }}" placeholder="quantity" required>
        <label for="quantity" class="form-label">Quantity</label>
      </div>
      <div class="p-3"></div>
      <div class="form-floating">
      <input type="number" class="form-control" step="0.001" name="share-price" id="share-price" value="{{ tran.share_price }}" placeholder="shareprice" required>
      <label for="share-price" class="form-label">Price per Share</label>
      </div>
      <div class="p-3"></div>
      <button class="btn btn-primary w-100 py-2" type="submit">Enter</button>
    </form>
  </div>
</div>
{% endblock %}