{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Enter Transactions{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="date">Tranaction Date</label>
    <input type="date" name="date" id="date" value="{{ tran.tran_date }}" required>
    <label for="symbol">Symbol</label>
    <input name="symbol" id="symbol" value="{{ tran.symbol }}" required>
    <label for="quantity">Quantity</label>
    <input type="number" step="0.001" name="quantity" id="quantity" value="{{ tran.quantity }}" required>
    <label for="share-price">Price per Share</label>
    <input type="number" step="0.001" name="share-price" id="share-price" value="{{ tran.share_price }}" required>
    <input type="submit" value="Enter">
  </form>
{% endblock %}