body {
       background-color: #0066ff;
   }

.equal-width-btn {
        width: 180px; 
        margin: 10px;
    }

.color-red {
        color: red;
    }

.color-green {
    color: green;
}

/* CSS */
.button-1 {
  background-color: #0d6efd;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms all 0.3s ease;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

box-shadow: 0 10px 30px 
    color-mix(in srgb, #cde1ff, transparent 70%);
}

.btn:hover {
  background-color: #7aafff;
}
