{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center min-vh-90">
        <div class="p-5 m-3 border bg-white w-50">
        <h1 class="h3 mb-3 fw-normal">Users</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Last Login</th>
                    <th>Transactions</th>
                </tr>
            </thead>
            {% for row in user %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.username }}</td>
                    <td>{{ row.role }}</td>
                    <td>{{ row.last_login }}</td>
                    <td>{{ row.transactions }}</td>
                </tr>
            {% endfor %}
        </table>

        </div>
    </div>

{% endblock %} 