<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <ul class="nav nav-pills">
    {% if g.user %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('transactions.enter') }}">Enter Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('transactions.view') }}">View Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Create Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
    </li>
    {% endif %}
    </ul>
    <header>
        {% block header %}{% endblock %}
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>