<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border bg-white">
      <ul class="nav ">
        <li class="nav-item">
            <a class="nav-link {% if request.path == url_for('main.index') %} active {% endif %}" aria-current="page" href="{{ url_for('main.index') }}">Portfolio Tracker</a>
        </li>
      </ul>
      <ul class="nav nav-fill ms-auto justify-content-end">

        {% if g.user %}
        <!-- User logged in -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Transactions</a>
            <ul class="dropdown-menu dropdown-menu-">
              <li><a class="dropdown-item" href="{{ url_for('transactions.enter') }}">Enter</a></li>
              <li><a class="dropdown-item" href="{{ url_for('transactions.view') }}">Edit/Delete</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ g.user['username'] }}</a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
              {% if g.user['role'] == 'admin' %}
              <li><a class="dropdown-item" href="{{ url_for('main.users') }}">View Users</a></li>
              {% endif %}
            </ul>
        </li>

        {% else %}
        <!-- No user logged in -->
        <li class="nav-item">
            <a class="nav-link {% if request.path == url_for('auth.register') %} active {% endif %}" href="{{ url_for('auth.register') }}">Create Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == url_for('auth.login') %} active {% endif %}" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
        {% endif %}
        
      </ul>
    </nav>
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

  </body>
</html>