{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container-sm">
    <form method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" class="form-control" id="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <div class="mb-3">
        <input type="submit" value="Log In">
      </div>
    </form>
  </div>
{% endblock %}