{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-90">
  <div class="p-5 m-3 border bg-white w-50">
    <form method="post">
      <h1 class="h3 mb-3 fw-normal">Create Account</h1>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- Inputs -->
      <div class="form-floating">
        <input name="username" class="form-control" id="username" placeholder="username" required>
        <label for="username" class="form-label">Username</label>
      </div>
      <div class="p-2"></div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
        <label for="password" class="form-label">Password</label>
        <small class="form-text text-muted">Password must be 8 or more characters.</small>
      </div>
      <div class="p-2"></div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" required>
        <label for="password2" class="form-label">Confirm Password</label>
      </div>
      <div class="p-3"></div>
      <button class="btn btn-primary w-100 py-2" type="submit">Create Account</button>
      
    </form>
  </div>
</div>
{% endblock %}

