{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-90">
  <div class="p-5 m-3 border bg-white w-50">
    <form method="post" enctype="multipart/form-data">
      <h1 class="h3 mb-3 fw-normal">Transaction Upload</h1>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- Inputs -->
      <div class="mb-3">
        <label for="formFile" class="form-label">Select File</label>
        <input name="formFile" class="form-control" type="file" id="formFile" accept=".csv,.txt" required>
      </div>
      <!-- <div class="p-3"></div> -->
        <label for="tran_date_select" class="form-label">Transaction Date</label>
        <select name="tran_date_select" class="form-select" id="tran_date_select" required>
        </select>
        <div class="p-3"></div>
        <label for="symbol_select" class="form-label">Symbol</label>
        <select name="symbol_select" class="form-select" id="symbol_select" required>
        </select>
        <div class="p-3"></div>
        <label for="type_select" class="form-label">Transaction Type</label>
        <select name="type_select" class="form-select" id="type_select" required>
        </select>
        <div class="p-3"></div>
        <label for="quantity_select" class="form-label">Quantity</label>
        <select name="quantity_select" class="form-select" id="quantity_select" required>
        </select>
        <div class="p-3"></div>
        <label for="price_select" class="form-label">Price per Share</label>
        <select name="price_select" class="form-select" id="price_select" required>
        </select>
        <div class="p-3"></div>
      <button class="btn btn-primary w-100 py-2" type="submit" value="Upload">Submit</button>
      
    </form>
    <script src="{{ url_for('static', filename='js/parseUpload.js') }}"></script>
  </div>
</div>
{% endblock %}